# Database
DATABASE_URL=""
SHADOW_DATABASE_URL=""

# Nodes
NODE_ENV="development"

# better-auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="https://localhost:3000"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
